.venv/
electrostatic_problem/__pycache__/
magnetic_probem/__pycache__/
optical_problem/__pycache__/
electrostatic_problem/description/problem.aux
electrostatic_problem/description/problem.log
electrostatic_problem/description/problem.out
electrostatic_problem/description/problem.pdf
electrostatic_problem/description/problem.synctex.gz
optical_problem/description/problem.aux
optical_problem/description/problem.log
optical_problem/description/problem.out
optical_problem/description/problem.pdf
optical_problem/description/problem.synctex.gz
differential_equations/Untitled presentation.pdf
differential_equations/Untitled presentation.pptx
differential_equations/diff_eqs.aux
differential_equations/diff_eqs.log
differential_equations/diff_eqs.nav
differential_equations/diff_eqs.out
differential_equations/diff_eqs.pdf
differential_equations/diff_eqs.snm
differential_equations/diff_eqs.toc
differential_equations/diff_eqs.vrb

